:root {
  box-sizing: border-box; /* global box sizing fix */

  --bookCardMargin: 10px;
}

*,
::before,
::after {
  box-sizing: inherit; /* global box sizing fix */
}

body {
    /* background-color: #709b90; */
    font-family: Helvetica, Arial, sans-serif;
}

/* 
body * + * {
  margin-top: 1.5em; /* global margins
} */

.container {
  max-width: 1080px;
  margin: 0 auto;
}

/* flex containter */
.shelv {
  display: flex;
  flex-wrap: wrap;
}

/* flex items */
.book-card {
  flex-basis: 25%;
}




/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  #shelv {
    flex-direction: column;
  }
}
